.font-lato,
h1,h2,h3,h4,h5,h6,
p,strong,span,small {
    font-family: 'Lato', sans-serif;
}
html, body, .App {
    height:100%;
    width:100%;
}
.full-height {
    height:100vh;
}
.site-wrapper {
    display:flex;
    flex-direction:row;
}
.app-sidebar {
    flex:0 0 350px;
    position:sticky;
    top:0;
    background-color:#113133;
    flex-grow:1;
}
.app-content  {
    flex-direction:column;
}
.sidebar {
    flex:0 0 350px;
    position:sticky;
    top:0;
}
.sidebar .basic {
    flex-wrap:wrap;
    color:#fff;
    padding:10px;
}
.sidebar .basic .picture {
    background-image: url(/img/profile_picture.jpg);
    width:100px;
    height:100px;
    border-radius:50px;
    background-position:center;
    background-size:cover;
    box-shadow:1px 1px 5px rgb(0, 0, 0, 0.8);
}
.sidebar .basic .author {
    position:relative;
    top:12px;
    left:25px;
    display:block;
}
.sidebar .basic .author h1 {
    margin:0;
}
.sidebar .basic .author h2 {
    font-size:20px;
    margin:0;
}
.sidebar .top .text {
    margin-top:15px;
    margin-left:15px;
    text-align:center;
    margin-bottom:10px;

}
.sidebar .top .text h2 {
    font-size:20px;
    color:#fff;

}
nav.sidebar-nav {

}
nav.sidebar-nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav.sidebar-nav li:first-child {
    
}
nav.sidebar-nav li:last-child {
    
}
nav.sidebar-nav li a {
    display:block;
    height:75px;
    line-height:75px;
    background-color:#0a2123;
    padding-left:30px;
}
nav.sidebar-nav a:hover {
    background-color:#0b292b;
    text-decoration:none;
}
nav.sidebar-nav a {
    color:#fff;
    text-transform:uppercase;
    font-weight:300;
    font-size:1.2em;
}

.ParticlejsContainer {
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    width:100%;
    height:100%;
}
.section-padding-1 {
    padding:50px;
}
.section-padding-2 {
    padding:75px;
}
.section-padding-3 {
    padding:125px;
}
.section-title {
    margin:30px 0;
    text-align:center;
}

/* Welcome Section */
section.Welcome {
    padding-top:150px;
    height:100vh;
    width:100%;
    position:relative;
}
section.Welcome .catchy {
    text-align:center;
    display:block;
}
section.Welcome .intro {
    margin-top:100px;
    text-align:center;
}
section.Welcome .welcome-contact .btn {
    width:100%;
    margin-top:25px;
    padding:10px;
    font-weight:300;
    transition:transform 0.2s ease-in;
}
section.Welcome .welcome-contact .btn:hover {
    transform:scale(1.1);
    transition:transform 0.2s ease-in;
}
section.Welcome .logos {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:150px;
}
section.Welcome .logos .logo {
    width:100px;
    height:120px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    margin:0 35px;
    transition:transform 0.2s ease-in;
}
section.Welcome .logos .logo:hover {
    transition:transform 0.2s ease-in;
    transform:scale(1.2);
}
section.Welcome .logos .logo.laravel {
    background-image: url(../img/logos/laravel.png);
}
section.Welcome .logos .logo.nodejs {
    background-image: url(../img/logos/nodejs.png);
    width:170px;
}
section.Welcome .logos .logo.reactjs {
    background-image: url(../img/logos/reactjs.png);
}

/* About section */
section.About {
    border:4px solid #2c2d2d;
    border-left:0;
    border-right:0;
    box-shadow:10px -30px  55px rgba(52, 58, 64, 0.3);
}
section.About p,
section.About h1 {
    font-weight:300;
}
section.About .AboutMe a {
   color:#adccea;
}

section.About .Interests .interest-parent.frontend {
    margin-bottom:5px;
}
section.About .Interests .interest-parent {
    background-color:#2a3035;
    margin-bottom:10px;
    border-radius:3px;
    display:flex;
}
section.About .Interests .interest-parent .title {
    padding:5px;
    text-align:center;
}
section.About .Interests .interest-item {
    display:inline-block;
    text-align:center;
    padding:0 5px;
    font-size:0.8em;
    flex:1;
    margin-top:10px;
}

/* Portfolio section */
section.Portfolio {

}
section.Portfolio .portfolio-items {
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
section.Portfolio .portfolio-item {
    height:200px;
    flex:0 0 25%;
    margin:10px;
    border-radius:3px;
    overflow:hidden;
    position:relative;
}
section.Portfolio .portfolio-item .background {
    width:100%;
    height:100%;
    background-size:cover;
    filter: grayscale(100%);
    transform:all 0.5s ease-in;
}
section.Portfolio .portfolio-item .portfolio-title {
    font-size:30px;
    padding:5px 15px;
    background-color:rgba(0,0,0,0.5);;
    line-height:200px;
    text-align:center;
    
    margin:auto;
    color:#fff;
    opacity:0;
    transform:all 0.5s ease-in;
}
section.Portfolio .portfolio-item:hover .portfolio-title {
    opacity:1;
    transform:all 0.5s ease-in;
}
section.Portfolio .portfolio-item:hover .background {
    filter: none;
    transform:all 0.5s ease-in;
}
section.Portfolio .portfolio-item.gtblitz .background {
    background-size:600px;
    background-position:0px;
}
section.Portfolio .portfolio-item.kaitenbun .background {
    background-size:contain;
    background-position:center;
}

/* Keyframes */
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.AutoType .AutoTypeWord {
    font-size:2em;
    font-weight:300;
    height:65px;
}
.AutoType .AutoTypeWord p {
    display:inline-block;
}
.AutoTypeCursor {
    display:inline-block;
    width:2px;
    height:35px;
    position:relative;
    top:7px;
    left:-px;
    background:black;
    
}
.AutoTypeCursor.blinking {
    animation:AutoTypeCursorBlinking 1.5s infinite cubic-bezier(0.39, 0.58, 0.57, 1); /* IE 10+, Fx 29+ */
}
@keyframes AutoTypeCursorBlinking {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}