@media(max-width:1700px) {
    section.About-flex {
        flex-wrap:wrap;
        flex-direction:row;
    }
    section.About .developer-summary  {
        flex:0 0 100%;
    }   
    section.About .developer-skills {
        flex:0 0 100%;
    }
}
@media(max-width:1200px) {
    .site-wrapper {
        display:block;
    }
    // .app-content {
    //     padding-top:50px;
    // }

    .ParticlejsContainer {
        display:none;
    }
    section.portfolio-page .screenshots-container .screenshot {
        flex-basis:100%;
        height:500px;
    }
    // section.Welcome  {
    //     padding-top:50px;
    // }
}
@media(max-width:768px) {
    section.About .developer-text * {
        line-height:55px;
    }
    section.Portfolio .portfolio-item {
        flex:1 0 40%;
    }
    section.Portfolio .portfolio-item.workinprogress {
        flex-basis:80%;
    }
    section.Portfolio .portfolio-item .background {
        filter:none;
    }
    .section-padding-3 {
        padding:25px;
    }
    .section-title * {
        font-size:1.4em;
    }
    section.portfolio-page {
        padding:15px;
    }
    section.portfolio-page .screenshots-container .screenshot {
        margin:0;
        margin-bottom:15px;
    }
}
@media(max-width:500px) {
    // section.Welcome  {
    //     padding-top:50px;
    // }
    .full-height {
        height:auto;
    }
    section.Welcome .intro {
        margin-top:40px;
    }
    section.Welcome .catchy h1 {
        font-size:1.5em;
    }
    section.Welcome .catchy h2 {
        font-size:1.2em;
    }
    section.Welcome .auto-type-title {
        font-size:1.2em;
    }
    section.Welcome .AutoType .AutoTypeWord {
        font-size:1.5em;
    }
    section.Welcome .logos {
        flex-direction:row;
        flex-wrap:wrap;
    }
    section.Welcome .logos .logo {
        flex:0 0 100%;
        height:75px !important;
        margin-bottom:20px;
    }
    section.Portfolio .portfolio-item {
        flex-basis:90%;
    }
    section.Portfolio .portfolio-item .portfolio-title {
        opacity:1;
        text-shadow:1px 1px 3px black;
        background:rgba(0,0,0,0.3);
    }
}