.bg-dark {
    background-color:black;
}

.font-lato,
h1,h2,h3,h4,h5,h6,
p,strong,span,small {
    font-family: 'Ubuntu', sans-serif;
}
html, body, .App {
    height:100%;
    width:100%;
}
.full-height {
    height:100vh;
}
.section-dark {
    background-color:#0e0e0e;
}
.site-wrapper {
    display:flex;
    flex-direction:row;

    .app-content {
        width:100%;
    }
}

.social-icon.facebook {
    height:20px;
    margin-top:5px;
    background-image: url('/img/logos/facebook.png');
}
.social-icon.twitter {  
    background-image: url('/img/logos/twitter.png');
}

.secondary-nav {
    margin-top:15px;
    padding-left:3  0px;
}
.secondary-nav a {
    display:block;
    text-align:left;
    color:#c7c7c7;
    font-weight:300;
    font-size:12px;
    padding:5px 0;
}
.ParticlejsContainer {
    position: absolute;
    top:0;
    left:0;
    pointer-events:none;
    width:100%;
    height:100%;
}
.section-padding-1 {
    padding:50px;
}
.section-padding-2 {
    padding:75px;
}
.section-padding-3 {
    padding:125px;
}
.section-title {
    margin:30px 0;
    text-align:center;
}

/* Welcome Section */
section.Welcome {
    padding-top:150px;
    width:100%;
    position:relative;
    background-color: #1669e6;
    color:#fff;
}
section.Welcome .catchy {
    text-align:center;
    display:block;
}
section.Welcome .intro {
    margin-top:100px;
    text-align:center;
}
section.Welcome .welcome-contact .btn {
    width:100%;
    margin-top:25px;
    padding:10px;
    font-weight:300;
    transition:transform 0.2s ease-in;
    background-color:#1778ba;
    border:1px solid #42a5e8;
}
.MuiButton-containedPrimary {
    background-color:#1778ba !important;
}
section.Welcome .welcome-contact .btn:focus,
section.Welcome .welcome-contact .btn:active {
    background-color:#3a576b;
    border:1px solid #283c49;
}
section.Welcome .welcome-contact .btn:hover {
    transform:scale(1.1);
    transition:transform 0.2s ease-in;
}

/* Welcome explorer */
section.Welcome .welcome-explorer {
    text-align:center;
    margin-top:60px;

    ul {
        list-style-type:none;
        display:inline-block;
        margin:0 auto;
        padding:0;
    }
    li {
        background:#000000a8;
        display:inline-block;
        height:55px; 
        line-height:55px;
        text-align:center;
        border:1px solid rgba(0,0,0,0.1);
        border-top:0;
        border-bottom:0;
        transition:all 0.5s ease;

        &:first-child {
            border-top-left-radius:28px;
            border-bottom-left-radius:28px;
            padding-left:35px;
        }
        &:last-child {
            border-top-right-radius:28px;
            border-bottom-right-radius:28px;
            padding-right:35px;
        }

        &:hover {
            cursor:pointer;
            transition:all 0.5s ease;
            background:#09316d;
        }
    }
    a {
        padding:0 25px;
        color:#fff;
        font-family: 'Nunito', sans-serif;

        &:hover {
            text-decoration:none;
        }
    }
}

section.Welcome .logos {
    display:flex;
    align-items:center;
    justify-content:center;
    
    margin-top:10%;
    margin-bottom:50px;
}
section.Welcome .logo-img {
    max-height:100px;
    margin:0 15px;
}


/* About section */
section.About {
    border:4px solid #282829;
    border-left:0;
    border-right:0;
    box-shadow:10px -30px  55px rgba(52, 58, 64, 0.3);
}
section.About p,
section.About h1 {
    font-weight:300;
}
section.About .AboutMe a {
   color:#adccea;
}

section.About .Interests .interest-parent {
    background-color:#2b343a;
    margin-bottom:10px;
    border-radius:3px;
    padding:0 15px;
    display:flex;
    flex-wrap:wrap;
}
section.About .Interests .interest-parent .title {
    padding:5px;
    text-align:center;
}
section.About .Interests .interest-item {
    display:inline-block;
    text-align:center;
    padding:0 5px;
    font-size:0.8em;
    flex:1;
    margin-top:10px;
}
div.About-flex {
    flex-wrap:wrap;
}
div.About-flex .developer-summary {
   flex-grow:1;

}
/* Portfolio section */
section.Portfolio {
    padding:50px 0;
}
section.Portfolio .preview-container {
    display:flex;
    max-width:80%;
    margin:auto;

    .WorkPreviewComponent {
        height:300px;
        flex-grow:1;
        position: relative;
        overflow:hidden;

        &:first-child {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        &:last-child {
            border-top-right-radius:30px;
            border-bottom-right-radius:30px;
        }

    }
    .WorkPreviewComponent .brandColor,
    .WorkPreviewComponent .image {
        width:100%;
        height:100%;
    }
    .WorkPreviewComponent .image {
        background-position: center;
        background-size:contain;
        background-repeat:no-repeat;
        transition:all 0.4s ease;

        &:hover {
            opacity:0.8;
            transition:all 0.4s ease;
            cursor:pointer;
        }
    }
    .WorkPreviewComponent .name {
        width:100%;
        text-align:center;
        margin:auto;
        color:#fff;
        font-family: 'Nunito', sans-serif;
        position: absolute;
        top:10px;
        z-index:2;
    }
}

/* Portfolio github */
section.Portfolio .github-repo {
    text-align:center;
    line-height:0;
}
section.Portfolio .github-repo p {
    position:relative;
    top:-10px;
}
section.Portfolio .github-repo img {
    height:100px;
}
/* Keyframes */
@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

.AutoType .AutoTypeWord {
    font-size:2em;
    font-weight:300;
    height:65px;
}
.AutoType .AutoTypeWord p {
    display:inline-block;
}
.AutoTypeCursor {
    display:inline-block;
    width:2px;
    height:35px;
    position:relative;
    top:7px;
    left:-px;
    background:black;
    
}
.AutoTypeCursor.blinking {
    animation:AutoTypeCursorBlinking 1.5s infinite cubic-bezier(0.39, 0.58, 0.57, 1); /* IE 10+, Fx 29+ */
}
@keyframes AutoTypeCursorBlinking {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* Contact */
section.Contact {
    padding-bottom:50px;
}
section.Contact .pre-contact {
    padding:30px 0;
    color:#fff;
    a {
        color:#e0e0e0;
        font-weight:bold;
        letter-spacing:1px;
    }
    p {
        color:#e0e0e0;
        margin-top:5px;
        font-size:14px;
    }
}
section.Contact .form-selection-container {
    align-items:center;
    justify-content:center;
    text-align:center;
    margin-top:40px;
    margin-bottom:25px;
}
section.Contact .form-selection-container .text p {
    font-size:16px;
}
section.Contact .ContactForm.hidden,
section.Contact .form-step.hidden {
    display:none;
}
section.Contact .ContactForm.active {
    display:block;
}
section.Contact span.req {
    color: red;
    font-weight:bold;
    font-size:25px;
    line-height:10px;
}
section.Contact .seperator {
    margin:15px 0;
    height:1px;
    background-color:#c7c7c7;
}
section.Contact textarea {
    min-height:150px;
}
section.Contact .body-count {
    text-align:right;
    margin-top:5px;
    font-size:12px;
    background-color:#e6e6e6;
    display:inline-block;
    padding:0px 10px;
    border-radius:3px;
    &.too-short {
        background-color:#ffa9a9;
    }
    &.good {
        background-color:#53c65c;
        color:#fff;
    }
}
section.Contact .submitting {
    display:flex;
    justify-content:center;
    transition:all 0.2s ease-in;
    opacity:0;
    height:0;

    &.active {
        opacity:1;
        height:auto;
    }
    svg {
        margin-right:10px;
        font-size:36px;
        position:relative;
        top:2px;
        color:#37bbff;
        animation:LoadingSpinner 1s infinite ease-in-out;
    }
    p {
        font-size:22px;
    }
}

@keyframes LoadingSpinner {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/** Portfolio page */
section.portfolio-page {
    width:100%;
    padding:50px;
}
section.portfolio-page h4 {
    margin-top:30px;
}
section.portfolio-page .built-with-container {
    display:flex;
}
section.portfolio-page .built-with {
    width:150px;
    height:100px;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}
section.portfolio-page .built-with:not(:first-child) {
    margin-left:15px;
}
section.portfolio-page .built-with.php {
    background-image:url('/img/logos/php.png');
}
section.portfolio-page .built-with.js {
    background-image:url('/img/logos/js.png');
}
section.portfolio-page .built-with.react {
    background-image:url('/img/logos/reactjs.png');
}
section.portfolio-page .built-with.laravel {
    background-image:url('/img/logos/laravel.png');
}
section.portfolio-page .built-with.nodejs {
    background-image:url('/img/logos/nodejs.png');
}
section.portfolio-page .screenshots-container {
    display:flex;
    flex-wrap:wrap;
}
section.portfolio-page .screenshots-container .screenshot {
    flex:0 0 400px;
    height:300px;
    background-color:black;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius:3px;
    margin:15px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.2);
    transition:all 0.2s ease-in;
}
section.portfolio-page .screenshots-container .screenshot:hover {
    transform:scale(1.2);
    transition:all 0.2s ease-in;
}

section.portfolio-page .screenshot.bg-left {
    background-position:left;
}


input.form-control, textarea.form-control {
    border:1px solid #7a8aa2;
    font-family:'Ubuntu', sans-serif;
    font-size:14px;
    height: calc(1.5em + .75rem + 10px);
}